%h1 Listing products

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Category
      %th
      - if admin?
        %th
        %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.title
        %td= product.description
        %td= product.category.try("name")
        %td= link_to 'Show', product
        - if admin?
          %td= link_to 'Edit', edit_product_path(product)
          %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

%br

- if admin?
  = link_to 'New Product', new_product_path
  \|
  = link_to 'Categories', categories_path
  \|
  = link_to 'Users', users_path
