%p#notice= notice

%p
  %b Title:
  = @product.title
%p
  %b Description:
  = @product.description
%p
  %b Category:
  = @product.category.try("name")

- if admin?
  = link_to 'Edit', edit_product_path(@product), remote: true
  \|
= link_to 'Back', products_path

#reviews{ 'data-id' => "#{@product.id}" }
  #review-form
  #review-index


- content_for :additional_resources do
  = javascript_include_tag 'products'

