- remote = @review.new_record? ? { remote: true } : {}
= form_for [@product, @review], remote do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :msg
    = f.text_area :msg
  .actions
    = f.submit 'Save'
